.btn {
    padding: 6px 12px;
    border: darkslategrey solid 1px;
    color: darkslategrey;
    border-radius: 6px;
    transition: all .3s ease;
    background: transparent;
    cursor: pointer;
}

.btn:hover {
    border-color: orangered;
    color: orangered;
}